.section-galleria {
    background-image: url(/images/sony.jpg);    /*Kuva unsplash.com sivustolta joka on ilmainen ja vapaasti käytettävä*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 3rem;
}

.section-heading-galleria {
    font-size: 2.5rem;
    font-weight: 600;
    color: #1A1A1A;
    font-weight: 600;
    position: absolute;
    top: 6rem;
    left: 6rem;
    animation-name: moveinleft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.galleria {
    display: flex;
    justify-content: center;
}

.picture-up {
    display: flex;
    align-items: center;
}

.picture-middle {
    display: flex;

}

.picture-bottom {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.kuvat1 {
    width: 10rem;
    padding: 0.5rem;
    background-color: #1A1A1A;
    margin: 0.5rem;
    margin-top: 1rem;
}

.kuvat2 {
    width: 10rem;
    padding: 0.5rem;
    background-color: #1A1A1A;
    margin: 0.5rem;
}

.kuvat4 {
    width: 10rem;
    padding: 0.5rem;
    background-color: #1A1A1A;
    margin-bottom: 2rem;
    margin: 0.5rem;
}

.galleria-2 {
    display: flex;
    justify-content: center;
}

.galleria-3 {
    display: flex;
    justify-content: center;
}
